<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PACK" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.App.Splash"
        android:usesCleartextTraffic="true">

        <activity
            android:configChanges="layoutDirection|locale"
            android:launchMode="singleTop"
            android:name=".main.MainActivity"
            android:theme="@style/Theme.App.Splash"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"/>
                <data android:host="beehaw.org"/>
                <data android:host="feddit.de" />
                <data android:host="feddit.it" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.one" />
                <data android:host="lemmy.world" />
                <data android:host="lemmygrad.ml" />
                <data android:host="midwest.social" />
                <data android:host="mujico.org" />
                <data android:host="sh.itjust.works" />
                <data android:host="slrpnk.net" />
                <data android:host="sopuli.xyz" />
                <data android:host="szmer.info" />
            </intent-filter>
        </activity>

        <service
            android:name=".offline.OfflineService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".offline.OfflineBroadcastReceiver"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".alarms.AlarmResetReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

        </provider>
    </application>
</manifest>
